html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    /*font-weight: 100;*/
    font-family: 'Lato';
    background: rgba(160,160,160,0.4);
    font-weight: bold;
}

#welcomePage {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#welcomePage .content {
    text-align: center;
    display: inline-block;
}

#welcomePage .title {
    font-size: 96px;
}

#welcomePage .options {
    margin: 120px 0px;
    padding:100px 20px;
    border: solid 6px #fff;
    outline: solid 6px #999;
}

#welcomePage .options a{
    padding: 10px 30px;
    margin:0 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}

#welcomePage .options a:hover{
    padding:15px 35px;
    font-weight: bold;
}

#welcomePage #guest {
    background: lightsalmon;
}

#welcomePage #gameLobby {
    background: lightgreen;
}

#welcomePage #login {
    background: lightgreen;
}

#welcomePage #logout {
    background: lightcoral;
}

#welcomePage #register {
    background: lightblue;
}

#welcomePage .authors {
    font-size: 36px;
}

#welcomePage .uc {
    font-size: 16px;
}