/* -------------------------- COMMON ------------------ */

html, body {
    height: 100%;
}

body{
    background: rgba(160,160,160,0.4);
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

/* -------------------------- LOGIN VIEW ------------------ */

#login {
    display: table-cell;
    vertical-align: middle;
}

#login .panel-body {
    background: rgba(204,229,255,0.1);
}

#login .footerBtn {

    padding: 0px 15px;
}

#login button {
    width: 150px;
}

#login a {
  width: 150px;
}


/* -------------------------- REGISTER VIEW ------------------ */

#register {
    display: table-cell;
    vertical-align: middle;
}

#register .panel-body {
    background: rgba(204,229,255,0.1);
}

#register .footerBtn {

    padding: 0px 15px;
}

#register button {
    width: 150px;
}

#register a {
  width: 150px;
}

/* -------------------------- LOBBY VIEW ------------------ */

#gameLobby .navbar-default{
    background: #7FB800;
}

#gameLobby .navbar-header {
    color: white;
    font-size:20px;
    padding-top:10px;
}

#gameLobby .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#gameLobby .navbar-default .navbar-nav>li>a{
    color: white;
    font-size:16px;
}

#gameLobby .navbar-default .navbar-nav>li>a:hover{
    color: black;
    font-weight:bold;
}

#gameLobby #openGamesPanel {
    /*margin-top:20px;*/
}

#gameLobby #openGames{
    text-align:center;
}

#gameLobby #openGames th{
    text-align:center;
}

#gameLobby #openGames i{
    color: #7FB800;
}

#gameLobby #openGames i:hover{
    cursor: pointer;
}

#gameLobby #playingGames {
    text-align:center;
}

#gameLobby #playingGames th{
    text-align:center;
}

#gameLobby #playingGames i{
    color: #7FB800;
}

#gameLobby #playingGames i:hover{
    cursor: pointer;
}

#gameLobby #topTenPanel {
    text-align:center;
}

#gameLobby #topTenPanel span{
    display: block;
}

#gameLobby #chatPanel span{
    display: block;
}

#gameLobby #messages {
    padding:5px;
    margin-bottom:10px;
    border: 2px dashed #a3b0c9;
    border-radius: 5px;
}

/* -------------------------- CREATE GAME VIEW ------------------ */

#gameCreation {
    display: table-cell;
    vertical-align: middle;
}

#gameCreation .panel-body {
    background: rgba(204,229,255,0.1);
}

#gameCreation #cols{
    width:10%;
}

#gameCreation #lines{
    width:10%;
}

#gameCreation #sliderCols{
    width:80%;
    margin:10px;
}

#gameCreation #sliderLines{
    width:80%;
    margin:10px;
}


#gameCreation .footerBtn {
    padding: 0px 15px;
}

#gameCreation button {
    width: 150px;
}

#gameCreation a {
    width: 150px;
}

/* -------------------------- GAME VIEW ------------------ */

#game{
    display: table-cell;
    vertical-align: middle;
}

#game .panel-title{
    text-align:center;
}

#game .panel-body{
    text-align:center;
}

#game .panel-body input{
    margin:0 auto;
}

#game .panel-body span{
    display: block;
}

#game hr{

}

#game .title{
    margin-bottom: 20px;
}

#game #currentPlayer {
    color:green;
    font-size:150%;
}

#game #playersTable {
    width:100%;
}

#game #playersTable th{
    text-align: center;
}

#gameBoard table{
    margin: auto;
}

#gameBoard div:last-child{
    font-size: small;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
}

#gameBoard .card {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

#gameBoard .ng-hide {
    visibility: hidden;
    display: block !important;
}

#game .footerBtn {
    padding: 0px 15px;
}

#game .footerBtn a{
    margin:5px;
}

#game #chatPanel span{
    display: block;
}

#game #messages {
    padding:5px;
    margin-bottom:10px;
    border: 2px dashed #a3b0c9;
    border-radius: 5px;
}

